---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

// import {DATABASE_URL} from '../env';
import {db} from '../db';
import {users} from '../db/schema';

// If we use the `npm run db_push` script, we don't need to run migrations
// await migrate(db, {
// 	migrationsFolder: './migrations',
// });

const user = await db
	.insert(users)
	.values({
		name: 'John Doe',
		email: 'papajohn@example.com',
	})
	.returning()
	.get();

const result = await db.select().from(users).all();
---

<Layout title="Welcome to Astro.">
	<p class="text-gray-100">DB select result count: {result.length}</p>

	<ul class="text-gray-100">
		{
			result.map(user => (
				<li>
					{user.name && user.email && user.id && (
						<Card title={user.name + ' ' + user.id} body={user.email} />
					)}
				</li>
			))
		}
	</ul>
</Layout>
